{
  "env": {
    "browser": true,
    "jasmine": true,
    "protractor": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:jasmine/recommended" ],
  "plugins": ["react", "jasmine"],
  "globals": {
    "window": false
  },
  "rules": {
    "import/no-extraneous-dependencies": 0
  },
  "parser": "babel-eslint"
}
